VITE_SUPABASE_URL=https://kyvxdxzepwpksubhgaov.supabase.co/rest/v1/
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_iPR5t6sfttrv-EC_1GdfaQ_auz5nHR_
VITE_PUBLIC_SITE_URL=https://renolix.github.io/agencedevoyage.github.io/
