VITE_SUPABASE_URL=https://zvpvigyplahxuumabqiv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_H66Ms8TZI6dn2tbMU1wRLQ_GxsQ92BD
VITE_PUBLIC_SITE_URL=https://renolix.github.io/agencedevoyage.github.io/
